altair==4.2.0
apiclient==1.0.4
appdirs==1.4.4
attrs==22.2.0
backports.zoneinfo==0.2.1
beautifulsoup4==4.11.1
blinker==1.5
blis==0.7.9
breadability==0.1.20
cachetools==5.2.0
catalogue==2.0.8
certifi
cffi==1.15.1
chardet
charset-normalizer
click
colorama=
commonmark
confection
contourpy
cryptography
cycler
cymem
Cython
decorator
docopt
docx2txt
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.4.1/en_core_web_sm-3.4.1-py3-none-any.whl
xx_ent_wiki_sm @ https://github.com/explosion/spacy-models/releases/download/xx_ent_wiki_sm-3.5.0/xx_ent_wiki_sm-3.5.0-py3-none-any.whl
entrypoints==0.4
fonttools==4.38.0
frozendict==2.3.4
fst-pso==1.8.1
FuzzyTM==2.0.5
gensim==3.4.0
gitdb==4.0.10
GitPython==3.1.29
html5lib==1.1
httplib2==0.21.0
idna==3.4
importlib-metadata==5.2.0
importlib-resources==5.10.1
Jinja2==3.1.2
joblib==1.2.0
jsonschema==4.17.3
kiwisolver==1.4.4
langcodes==3.3.0
lxml==4.9.2
MarkupSafe==2.1.1
matplotlib==3.6.2
miniful==0.0.6
multitasking==0.0.11
murmurhash==1.0.9
nltk==3.8.1
numpy==1.24.1
oauth2client==4.1.3
opencv-python==4.7.0.68
packaging==22.0
pafy==0.5.5
pandas==1.5.2
pathy==0.10.1
pdfminer.six==20221105
pdfminer3==2018.12.3.0
Pillow==9.3.0
pkgutil_resolve_name==1.3.10
plotly==5.11.0
preshed==3.0.8
protobuf==3.20.3
pyarrow==10.0.1
pyasn1
pyasn1-modules
pycountry
pycparser
pycryptodome
pycryptodomex
pydantic
pydeck
pyFUME
Pygments
PyJWT
Pympler
PyMySQL
pyparsing
pyresparser
pyrsistent
python-dateutil=
pytz==2022.7
pytz-deprecation-shim==0.1.0.post0
regex==2022.10.31
requests==2.28.1
rich==12.6.0
rsa==4.9
scipy==1.10.1
seaborn==0.12.1
semver==2.13.0
simpful==2.10.0
six==1.16.0
smart-open==6.3.0
smmap==5.0.0
sortedcontainers==2.4.0
soupsieve==2.3.2.post1
spacy==3.4.4
spacy-legacy
spacy-loggers
srsly
streamlit
streamlit-tags
sumy
tenacity
textblob
tf-estimator-nightly
thinc
toml
toolz
tornado
tqdm
twilio
typer
typing_extensions
tzdata
tzlocal
urllib3
validators
wasabi
watchdog
webencodings
wincertstore
yfinance
zipp
googletrans
