altair
apiclient
appdirs
attrs
backports.zoneinfo
beautifulsoup4
blinker
blis
breadability
cachetools
catalogue
certifi
cffi
chardet
charset-normalizer
click
colorama=
commonmark
confection
contourpy
cryptography
cycler
cymem
Cython
decorator
docopt
docx2txt
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.4.1/en_core_web_sm-3.4.1-py3-none-any.whl
xx_ent_wiki_sm @ https://github.com/explosion/spacy-models/releases/download/xx_ent_wiki_sm-3.5.0/xx_ent_wiki_sm-3.5.0-py3-none-any.whl
entrypoints
fonttools
frozendict
fst-pso
FuzzyTM
gensim
gitdb
GitPython
html5lib
httplib2
idna
importlib-metadata
importlib-resources
Jinja2
joblib
jsonschema
kiwisolver
langcodes
lxml
MarkupSafe
matplotlib
miniful
multitasking
murmurhash
nltk
numpy
oauth2client
opencv-python
packaging
pafy
pandas
pathy
pdfminer.six
pdfminer3
Pillow
pkgutil_resolve_name
plotly
preshed
protobuf
pyarrow
pyasn1
pyasn1-modules
pycountry
pycparser
pycryptodome
pycryptodomex
pydantic
pydeck
pyFUME
Pygments
PyJWT
Pympler
PyMySQL
pyparsing
pyresparser
pyrsistent
python-dateutil=
pytz
pytz-deprecation-shim
regex
requests
rich
rsa
scipy
seaborn
semver
simpful
six
smart-open
smmap
sortedcontainers
soupsieve
spacy
spacy-legacy
spacy-loggers
srsly
streamlit
streamlit-tags
sumy
tenacity
textblob
tf-estimator-nightly
thinc
toml
toolz
tornado
tqdm
twilio
typer
typing_extensions
tzdata
tzlocal
urllib3
validators
wasabi
watchdog
webencodings
wincertstore
yfinance
zipp
googletrans
